---
import Label from "../components/Label.astro";

---

<section id="despre" class="md:pt-20 md:pb-10 pt-10 pb-5 bg-white md:text-center text-left">
  <div class="container mx-auto max-w-2xl px-6">
    <Label label="Electrician Constanța"/>
    <h2>
      Soluții electrice profesionale in Constanța, executate de specialiști autorizați ANRE
    </h2>
    <p>
      Cu o experiență solidă în domeniul instalațiilor electrice, CCI Electric Constanța oferă servicii complete pentru locuințe și spații comerciale în județul Constanța. Suntem o echipă de profesioniști autorizați ANRE, dedicați să oferim cele mai sigure și eficiente soluții pentru nevoile dumneavoastră electrice.
    </p>
  </div>
</section>