---
import Logo from './Logo.astro';

const areas = [
	'Constanța',
	'Mamaia',
	'Năvodari',
	'Ovidiu',
	'Eforie',
	'Techirghiol',
	'Mangalia',
	'Cumpăna',
	'Lazu',
	'Agigea',
	'Valu lui Traian',
	'Murfatlar',
	'Lumina',
	'Palazu',
];
---

<footer class='bg-primary text-white py-8'>
	<div class='container mx-auto px-6'>
		<a
			href='/'
			class='text-2xl font-bold'>
			<Logo />
		</a>
		<hr class='my-6 border-black/10' />
		<div class='w-full'>
			<!-- <h2 class='text-lg mb-4 text-white'>Zone de acoperire</h2> -->
		
			<div class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2'>
				{
					areas.map((area) => (
						<div class='p-2 bg-black/10 bg-opacity-50 rounded text-center transition-all'>
							{area}
						</div>
					))
				}
			</div>
		</div>

		<hr class='my-6 border-blue-800' />
		<div class='md:flex md:justify-between md:items-center text-sm'>
			<p class='mb-4 md:mb-0'
				>© {new Date().getFullYear()} CCI Electric Constanța. Toate drepturile
				rezervate.</p
			>
		</div>
	</div>
</footer>
